<div class="highlight"><pre><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;</span>
  <span class="nt">&lt;title&gt;</span>{% if title %}{{title}}{% endif %}<span class="nt">&lt;/title&gt;</span>
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
  {% if title %}
    <span class="nt">&lt;h1&gt;</span>{{title}}<span class="nt">&lt;/h1&gt;</span>
  {% endif %}
  <span class="nt">&lt;ul&gt;</span>
    {% for num in numberArray %}
      <span class="nt">&lt;li&gt;</span>{{ num }}<span class="nt">&lt;/li&gt;</span>
    {% endfor %}
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre>
</div>
