<div class="highlight"><pre><code class="text">&lt;div class=&quot;container&quot;&gt;

  &lt;div class=&quot;header&quot;&gt;
    &lt;h1&gt;Todo App&lt;/h1&gt;
    &lt;hr&gt;
    &lt;h1 class=&quot;lead&quot;&gt;Node + Express + Angular + PostgreSQL&lt;/h1&gt;
  &lt;/div&gt;

  &lt;div class=&quot;todo-form&quot;&gt;
    &lt;form&gt;
      &lt;div class=&quot;form-group&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control input-lg&quot; placeholder=&quot;Enter text...&quot; ng-model=&quot;formData.text&quot;&gt;
      &lt;/div&gt;
      &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary btn-lg btn-block&quot; ng-click=&quot;createTodo()&quot;&gt;Add Todo&lt;/button&gt;
    &lt;/form&gt;
  &lt;/div&gt;

  &lt;br&gt;

  &lt;div class=&quot;todo-list&quot;&gt;
    &lt;ul ng-repeat=&quot;todo in todoData&quot;&gt;
      &lt;li&gt;&lt;h3&gt;&lt;input class=&quot;lead&quot; type=&quot;checkbox&quot; ng-click=&quot;deleteTodo(todo.id)&quot;&gt;&amp;nbsp;{{ todo.text }}&lt;/li&gt;&lt;/h3&gt;&lt;hr&gt;
    &lt;/ul&gt;
  &lt;/div&gt;

&lt;/div&gt;

&lt;!-- scripts --&gt;
&lt;script src=&quot;http://code.jquery.com/jquery-1.11.2.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;javascripts/app.js&quot;&gt;&lt;/script&gt;
</code></pre>
</div>
