

{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}

<div>
  <hr>
  <p>
    <span>Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}</span>
    <br>
    <small>Questions? michael at mherman dot org</small><br>
    <small><a href="#">Back to top</a></small>
    <br>
    <span>
      <a href="https://github.com/mjhea0"><i class="fa fa-github-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://twitter.com/mikeherman"><i class="fa fa-twitter-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/mjhea0/"><i class="fa fa-linkedin-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/hermanmu"><i class="fa fa-youtube-square" style="font-size:2em" aria-hidden="true"></i></a>
    </span>
  </p>
</div>
