@media only screen and (max-width: 700px) {
  #hellobar-bar { display: none !important; }
}

@media only screen and (max-width: 700px) {
  hgroup {
    padding-top: 0;
  }
}

@media (min-width: 701px) {
  hgroup {
    padding-top: 50px;
  }
}

#hellobar-bar {
  font-family: "Open Sans", sans-serif;
  width: 100% !important;
  margin: 0;
  height: 30px;
  display: table;
  font-size: 18px;
  font-weight: 400;
  padding: .33em .5em;
  -webkit-font-smoothing: antialiased;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0D70C2;
  box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
}
#hellobar-bar.regular {
  height: 30px;
  font-size: 18px;
  padding: .2em .5em;
}
.hb-content-wrapper {
  text-align: center;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background-color: #0D70C2;
}
.hb-content-wrapper p {
  margin-top: 0;
  margin-bottom: 0;
}
.hb-text-wrapper {
  margin-right: .67em;
  display: inline-block;
  line-height: 1.3;
}
.hb-text-wrapper .hb-headline-text {
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
}
#hellobar-bar .hb-cta {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
  color: #ffffff;
  background-color: black;
  border-color: black;
}
.hb-cta-button {
  opacity: 1;
  color: #fff;
  display: block;
  cursor: pointer;
  line-height: 1.5;
  max-width: 22.5em;
  text-align: center;
  position: relative;
  border-radius: 3px;
  white-space: nowrap;
  margin: 1.75em auto 0;
  text-decoration: none;
  padding: 0;
  overflow: hidden;
}
.hb-cta-button .hb-text-holder {
  border-radius: inherit;
  padding: 5px 15px;
}
.hb-close-wrapper {
  display: table-cell;
  width: 1.6em;
  background-color: #0D70C2;
}
.hb-close-wrapper .icon-close {
  font-size: 18px;
  top: 20px;
  right: 25px;
  width: 15px;
  height: 15px;
  opacity: .7;
  color: white;
  cursor: pointer;
  position: absolute;
  text-align: center;
  line-height: 100%;
  z-index: 1000;
  text-decoration: none;
}
