<!DOCTYPE html>
<html lang="en">

  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  
  
  <title>Node, Express, Swig, and MongoDB - getting started with CRUD</title>
  <meta name="description" content="This article details how to create a basic web app with Node, Express, Swig, and MongoDB.">
  
    
    <meta name="keywords" content="node, express, mongodb, mongoose, swig">
  

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="canonical" href="https://mherman.org/blog/node-express-swig-mongo-primer/">
  
  
  <link rel="alternate" type="application/rss+xml" title="Michael Herman" href="https://mherman.org/feed.xml">

  <link rel="icon" type="image/png" href="/favicon.png">


  
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:title" content="Node, Express, Swig, and MongoDB - getting started with CRUD">
  <meta name="twitter:description" content="This article details how to create a basic web app with Node, Express, Swig, and MongoDB.">
  
  

  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Bitter:400,700,400italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

  
    
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-37074204-1', 'auto');
    ga('send', 'pageview');
  </script>


  
</head>


  <link rel="stylesheet" href="/assets/hello.css">

  <body>

    <header class="site-header">

  <div class="color-bar">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
    <div class="bar bar4"></div>
    <div class="bar bar5"></div>
    <div class="bar bar6"></div>
  </div>

  <div class="wrapper">

    <a class="site-title" href="/">Michael Herman</a>

    <nav class="site-nav">
      
        
        <a class="page-link" href="/">Blog</a>
      
        
        <a class="page-link" href="/about">About</a>
      
        
        <a class="page-link" href="/talks">Talks</a>
      
        
        <a class="page-link" href="/feed.xml">RSS</a>
      
    </nav>

  </div>

</header>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    
      <h1 class="post-title" itemprop="name headline">Node, Express, Swig, and MongoDB - getting started with CRUD</h1>
    
    <p class="post-meta">
      Last update: <time datetime="2015-08-24T00:00:00-06:00" itemprop="datePublished">Aug 24, 2015</time>
       • 
  
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      <a href="/categories/node/">node</a>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <p>Let’s create a basic CRUD app using Node, Express, Swig, and MongoDB.</p>

<div style="text-align:center;">
  <img src="/assets/img/blog/node-express.png" style="max-width: 40%; border:0;" alt="node express" />
</div>

<p><br /></p>

<blockquote>
  <p>This tutorial utilizes <a href="http://nodejs.org/">Node</a> v0.12.5, <a href="http://expressjs.com/">Express</a> v4.13.1, <a href="http://node-swig.github.io/swig-templates/">Swig</a> and <a href="http://mongoosejs.com/">Mongoose</a> v4.1.3.</p>
</blockquote>

<h2 class="no_toc" id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#getting-started" id="markdown-toc-getting-started">Getting started</a></li>
  <li><a href="#sanity-check" id="markdown-toc-sanity-check">Sanity check</a></li>
  <li><a href="#nodemon" id="markdown-toc-nodemon">Nodemon</a></li>
  <li><a href="#routes" id="markdown-toc-routes">Routes</a></li>
  <li><a href="#swig" id="markdown-toc-swig">Swig</a></li>
  <li><a href="#post-requests-part-1" id="markdown-toc-post-requests-part-1">POST requests (part 1)</a></li>
  <li><a href="#mongoose" id="markdown-toc-mongoose">Mongoose</a></li>
  <li><a href="#get-requests-all-resources" id="markdown-toc-get-requests-all-resources">GET requests (all resources)</a></li>
  <li><a href="#post-requests-part-2" id="markdown-toc-post-requests-part-2">POST requests (part 2)</a></li>
  <li><a href="#sanity-check-1" id="markdown-toc-sanity-check-1">Sanity Check</a></li>
  <li><a href="#get-requests-single-resource" id="markdown-toc-get-requests-single-resource">GET requests (single resource)</a></li>
  <li><a href="#put-requests" id="markdown-toc-put-requests">PUT requests</a></li>
  <li><a href="#delete-requests" id="markdown-toc-delete-requests">DELETE requests</a></li>
  <li><a href="#conclusion" id="markdown-toc-conclusion">Conclusion</a></li>
</ul>

<h2 id="getting-started">Getting started</h2>

<p>Start by downloading the <a href="http://expressjs.com/starter/generator.html">Express application generator</a> (if you don’t already have it) to create a basic Express project:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>npm install express-generator <span class="nt">-g</span>
</code></pre></div></div>

<blockquote>
  <p>The <code class="highlighter-rouge">-g</code> flag indicates that you want to install the package globally, on your entire system.</p>
</blockquote>

<p>Navigate to a convenient directory, like your “Desktop” or “Documents”, then create the boilerplate:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>express node-express-swig-mongo
<span class="nv">$ </span><span class="nb">cd </span>node-express-swig-mongo
</code></pre></div></div>

<p>Check out the project structure:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code>├── app.js
├── bin
│   └── www
├── package.json
├── public
│   ├── images
│   ├── javascripts
│   └── stylesheets
│       └── style.css
├── routes
│   ├── index.js
│   └── users.js
└── views
    ├── error.jade
    ├── index.jade
    └── layout.jade
</code></pre></div></div>

<p>Don’t worry about the files and folders for now. Just know that we have created a boilerplate that can be used for a number of Node/Express applications. This took care of the heavy lifting, adding common files, folders, and scripts generally associated with all apps.</p>

<p>Notice the <em>package.json</em> file. This stores your project’s dependencies, which we still need to install:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>npm install
</code></pre></div></div>

<p>Now let’s install Mongoose and Swig:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>npm install mongoose swig <span class="nt">--save</span>
</code></pre></div></div>

<blockquote>
  <p>The <code class="highlighter-rouge">--save</code> flag adds the dependencies and their versions to the <em>package.json</em> file. Take a look.</p>
</blockquote>

<h2 id="sanity-check">Sanity check</h2>

<p>Let’s test our setup by running the app:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>npm start
</code></pre></div></div>

<p>Navigate to <a href="http://localhost:3000/">http://localhost:3000/</a> in your browser and you should see the “Welcome to Express” text. Once done, kill the server by pressing CTRL-C.</p>

<h2 id="nodemon">Nodemon</h2>

<p>Before moving on, let’s setup <a href="http://nodemon.io/">Nodemon</a> so that you can run your app and watch for code changes without having to manually restart the server. Check out the link above to learn more.</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>npm install nodemon <span class="nt">-g</span>
</code></pre></div></div>

<p>Let’s test again:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>nodemon
</code></pre></div></div>

<p>In your terminal you should see:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code>23 Aug 16:31:02 - <span class="o">[</span>nodemon] v1.4.1
23 Aug 16:31:02 - <span class="o">[</span>nodemon] to restart at any <span class="nb">time</span>, enter <span class="sb">`</span>rs<span class="sb">`</span>
23 Aug 16:31:02 - <span class="o">[</span>nodemon] watching: <span class="k">*</span>.<span class="k">*</span>
23 Aug 16:31:02 - <span class="o">[</span>nodemon] starting <span class="sb">`</span>node ./bin/www<span class="sb">`</span>
</code></pre></div></div>

<p>Essentially, Nodemon is watching for code changes, and if they do occur, then it will refresh the local server for you so you don’t have to constantly kill the server then start it back up. It saves a lot of time and keystrokes.</p>

<p>Awesome. With the setup done, let’s build something!</p>

<h2 id="routes">Routes</h2>

<p>Grab your favorite text editor (such as <a href="http://www.sublimetext.com/">Sublime</a> or <a href="https://atom.io/">Atom</a>), and then open the main file, <em>app.js</em>, which houses much of the business logic. Take a look at the routes:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">app</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="s1">'/'</span><span class="p">,</span> <span class="nx">routes</span><span class="p">);</span>
<span class="nx">app</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="s1">'/users'</span><span class="p">,</span> <span class="nx">users</span><span class="p">);</span>
</code></pre></div></div>

<p>Understanding how routes work as well as how to trace all the files associated with an individual route is an important skill to learn. You’ll be able to approach most applications and understand how they work just by starting with the routes.</p>

<p>Let’s look at this route:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">app</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="s1">'/users'</span><span class="p">,</span> <span class="nx">users</span><span class="p">)</span>
</code></pre></div></div>

<p>Here, we know that this route is associated with the <code class="highlighter-rouge">/users</code> endpoint. What’s an endpoint? Simply navigate to <a href="http://localhost:3000/users">http://localhost:3000/users</a>.</p>

<p>The end user navigates to that endpoint and expects <em>something</em> to happen. That could mean some HTML is rendered or perhaps JSON is returned. That’s not important at this point. For now, let’s look at how Node handles the logic for “handling routes”.</p>

<p>Also, within that route, you can see the variable <code class="highlighter-rouge">users</code>. Where is in this file? It’s at the top, and it loads in another file within our app:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">users</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'./routes/users'</span><span class="p">);</span>
</code></pre></div></div>

<p>Open that file:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">express</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'express'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">router</span> <span class="o">=</span> <span class="nx">express</span><span class="p">.</span><span class="nx">Router</span><span class="p">();</span>

<span class="cm">/* GET users listing. */</span>
<span class="nx">router</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'/'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">res</span><span class="p">.</span><span class="nx">send</span><span class="p">(</span><span class="s1">'respond with a resource'</span><span class="p">);</span>
<span class="p">});</span>

<span class="nx">module</span><span class="p">.</span><span class="nx">exports</span> <span class="o">=</span> <span class="nx">router</span><span class="p">;</span>
</code></pre></div></div>

<p><strong>What’s happening here?</strong> Essentially when that endpoint is hit, it responds by sending text in the form of a response to the end user - “respond with a resource”. Now, of course you don’t always have to send text. You could respond with a template or view like a Jade or Swig template file that gets rendered into HTML. We’ll look at how this works in just a minute when we add our own routes.</p>

<p><strong>Make sure you understand everything in this section before moving on.</strong></p>

<h3 id="add-a-new-route">Add a new route</h3>

<p>Let’s now add a new route that renders a HTML form to the end user.</p>

<p>Start by adding the route handler in the <em>app.js</em> file:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">app</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="s1">'/api'</span><span class="p">,</span> <span class="nx">api</span><span class="p">);</span>
</code></pre></div></div>

<blockquote>
  <p>Remember this simply means <code class="highlighter-rouge">app.use('/ENDPOINT', VARIABLE_NAME);</code>,</p>
</blockquote>

<p>Use the <code class="highlighter-rouge">api</code> variable to require a JS file within our routes folder.</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'./routes/api'</span><span class="p">);</span>
</code></pre></div></div>

<p>Take a look in the terminal. You should see an error, indicating Node can’t find the <code class="highlighter-rouge">./routes/api</code> module. We need to create it!</p>

<p>Create a new file called <em>api.js</em> in the “routes” directory. Add the following code:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">express</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'express'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">router</span> <span class="o">=</span> <span class="nx">express</span><span class="p">.</span><span class="nx">Router</span><span class="p">();</span>


<span class="nx">router</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'/superheros'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">res</span><span class="p">.</span><span class="nx">send</span><span class="p">(</span><span class="s1">'Just a test'</span><span class="p">);</span>
<span class="p">});</span>

<span class="nx">module</span><span class="p">.</span><span class="nx">exports</span> <span class="o">=</span> <span class="nx">router</span><span class="p">;</span>
</code></pre></div></div>

<blockquote>
  <p>Do you remember what this code <code class="highlighter-rouge">res.send('Just a test');</code> will do? If not, review the previous section.</p>
</blockquote>

<p>Navigate to <a href="http://localhost:3000/api/superheros">http://localhost:3000/api/superheros</a>. You should see the text “Just a test” on the page.</p>

<h2 id="swig">Swig</h2>

<p>Swig is a templating language, which compiles down to HTML, making it easy to separate logic from markup. For more on Swig, check out the <a href="http://mherman.org/blog/2015/08/23/primer-on-swig-templating/#.VdpL_VNViko">Primer on Swig Templating</a>.</p>

<p>Take a quick look at the <em>layout.jade</em>, <em>index.jade</em>, and <em>error.jade</em> files within the “views” folder. Right now these files are using <a href="http://jade-lang.com/">Jade</a> templating. Let’s update these files to remove Jade and add Swig. First, remove the <em>.jade</em> extension from each file and add a <em>.html</em> extension. Now we can update the actual syntax…</p>

<p><strong><em>layout.html</em></strong></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html&gt;</span>
  <span class="nt">&lt;head&gt;</span>
    <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;title&gt;</span>{{ title }}<span class="nt">&lt;/title&gt;</span>
    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"/css/main.css"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/head&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    {% block content %}
    {% endblock %}
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"//code.jquery.com/jquery-2.1.4.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"/js/main.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>

</code></pre></div></div>

<p><strong><em>index.html</em></strong></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;h1&gt;</span>{{ title }}<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;p&gt;</span>Welcome to {{ title }}<span class="nt">&lt;/p&gt;</span>

  <span class="nt">&lt;/div&gt;</span>

{% endblock %}

</code></pre></div></div>

<p><strong><em>error.html</em></strong></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;h1&gt;</span>{{ message }}<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;h2&gt;</span>{{ error.status }}<span class="nt">&lt;/h2&gt;</span>
    <span class="nt">&lt;pre&gt;</span>{{ error.stack }}<span class="nt">&lt;/pre&gt;</span>

  <span class="nt">&lt;/div&gt;</span>

{% endblock %}

</code></pre></div></div>

<p>Finally, update <em>app.js</em> by requiring the following dependency at the top of the file:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">swig</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'swig'</span><span class="p">);</span>
</code></pre></div></div>

<p>Then set Swig as the template engine by replacing <code class="highlighter-rouge">app.set('view engine', 'jade');</code> with-</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">swig</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">swig</span><span class="p">.</span><span class="nx">Swig</span><span class="p">();</span>
<span class="nx">app</span><span class="p">.</span><span class="nx">engine</span><span class="p">(</span><span class="s1">'html'</span><span class="p">,</span> <span class="nx">swig</span><span class="p">.</span><span class="nx">renderFile</span><span class="p">);</span>
<span class="nx">app</span><span class="p">.</span><span class="kd">set</span><span class="p">(</span><span class="s1">'view engine'</span><span class="p">,</span> <span class="s1">'html'</span><span class="p">);</span>
</code></pre></div></div>

<p>Jump back to the “views”, and take a look at <em>layout.html</em> and <em>index.html</em>. There’s a relationship between those two files. We define the base structure in the <em>layout</em> file, which contains common structure that can be reused in multiple places.</p>

<p>Do you see the <code class="highlighter-rouge">block</code> keyword?</p>

<p>What really happens when the <em>index</em> file is rendered is that it first renders the base template because of the <code class="highlighter-rouge">extends</code> keyword. So, the <em>layout</em> template then gets rendered, which eventually pulls in the child template, overwriting the <code class="highlighter-rouge">block</code> keyword with:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>

  <span class="nt">&lt;h1&gt;</span>{{ title }}<span class="nt">&lt;/h1&gt;</span>
  <span class="nt">&lt;p&gt;</span>Welcome to {{ title }}<span class="nt">&lt;/p&gt;</span>

<span class="nt">&lt;/div&gt;</span>

</code></pre></div></div>

<p>Hope that makes sense. If not, check out <a href="http://mherman.org/blog/2015/08/23/primer-on-swig-templating/#template-inheritence">this</a> resource for more info on template inheritance.</p>

<h3 id="setup-apihtml">Setup <em>api.html</em></h3>

<p>Create a new file called <em>api.html</em> in the “views” directory, and then add the following code:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;h1&gt;</span>{{ title }}<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;p&gt;</span>Welcome to {{ title }}<span class="nt">&lt;/p&gt;</span>

  <span class="nt">&lt;/div&gt;</span>

{% endblock %}

</code></pre></div></div>

<p>The same thing is happening here with inheritance. If you’re unfamiliar with Swig syntax, <code class="highlighter-rouge">{{ title }}</code> is essentially a variable, which we can pass in from <code class="highlighter-rouge">./routes/api.js</code>.</p>

<p>Update <code class="highlighter-rouge">./routes/api.js</code> by changing-</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">res</span><span class="p">.</span><span class="nx">send</span><span class="p">(</span><span class="s1">'Just a test'</span><span class="p">);</span>
</code></pre></div></div>

<p>-to-</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">res</span><span class="p">.</span><span class="nx">render</span><span class="p">(</span><span class="s1">'api'</span><span class="p">,</span> <span class="p">{</span> <span class="na">title</span><span class="p">:</span> <span class="s1">'Superhero API'</span> <span class="p">});</span>
</code></pre></div></div>

<p>This just says, “When a user hits the <code class="highlighter-rouge">/api/superheros</code> endpoint, render the <em>api.html</em> file and pass in <code class="highlighter-rouge">Superhero API</code> as the title.”</p>

<blockquote>
  <p>Keep in mind that all Swig files are converted to HTML since browsers can’t read the Swig templating syntax.</p>
</blockquote>

<p>Ready to test? Simple refresh <a href="http://localhost:3000/api/superheros">http://localhost:3000/api/superheros</a>.</p>

<p>Did it work? If yes, move on. If not, go back through this section and review.</p>

<h3 id="update-apihtml">Update <em>api.html</em></h3>

<p>So, let’s update the template to display a form:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;h1&gt;</span>{{ title }}<span class="nt">&lt;/h1&gt;</span>

    <span class="nt">&lt;br&gt;</span>

    <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"post"</span> <span class="na">action=</span><span class="s">"/api/superheros"</span> <span class="na">class=</span><span class="s">"form-inline"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label&gt;</span>Superhero name<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">name=</span><span class="s">"name"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">required</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Save<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/form&gt;</span>

  <span class="nt">&lt;/div&gt;</span>

{% endblock %}

</code></pre></div></div>

<p>Refresh your browser. Do you see the form? Try clicking save. What happens? Well, you just tried to send a POST request to the <code class="highlighter-rouge">/api/superheros</code> endpoint, which does not exist - so you should see a 404 error. Let’s set up the route handler.</p>

<h2 id="post-requests-part-1">POST requests (part 1)</h2>

<p>Open <em>api.js</em> to add the logic for this new route:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">express</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'express'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">router</span> <span class="o">=</span> <span class="nx">express</span><span class="p">.</span><span class="nx">Router</span><span class="p">();</span>


<span class="nx">router</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'/superheros'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">res</span><span class="p">.</span><span class="nx">render</span><span class="p">(</span><span class="s1">'api'</span><span class="p">,</span> <span class="p">{</span> <span class="na">title</span><span class="p">:</span> <span class="s1">'Superhero API'</span> <span class="p">});</span>
<span class="p">});</span>

<span class="nx">router</span><span class="p">.</span><span class="nx">post</span><span class="p">(</span><span class="s1">'/superheros'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">req</span><span class="p">.</span><span class="nx">body</span><span class="p">.</span><span class="nx">name</span><span class="p">);</span>
  <span class="nx">res</span><span class="p">.</span><span class="nx">redirect</span><span class="p">(</span><span class="s1">'/api/superheros'</span><span class="p">);</span>
<span class="p">});</span>

<span class="nx">module</span><span class="p">.</span><span class="nx">exports</span> <span class="o">=</span> <span class="nx">router</span><span class="p">;</span>
</code></pre></div></div>

<p>Test this out again. Now, when you submit the form, we have the <code class="highlighter-rouge">/api/superheros</code> endpoint setup, which then grabs the text from the input box via <code class="highlighter-rouge">req.body.name</code>. Make sure the text is consoled in your terminal.</p>

<p>Okay. So, we are handling the routes and rendering the right template, but we still need to setup Mongoose to save the data from our form before we can finish with the POST request.</p>

<h2 id="mongoose">Mongoose</h2>

<p><a href="http://mongoosejs.com/">Mongoose</a> is used for interacting with MongoDB. Start with defining the Schema, which then maps to a collection in Mongo.</p>

<p>Create a file called <em>database.js</em> in your app’s root directory, then add the following code:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">mongoose</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'mongoose'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">Schema</span>   <span class="o">=</span> <span class="nx">mongoose</span><span class="p">.</span><span class="nx">Schema</span><span class="p">;</span>

<span class="kd">var</span> <span class="nx">Superhero</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Schema</span><span class="p">(</span>
  <span class="p">{</span><span class="na">name</span> <span class="p">:</span> <span class="nb">String</span><span class="p">}</span>
<span class="p">);</span>

<span class="nx">mongoose</span><span class="p">.</span><span class="nx">model</span><span class="p">(</span><span class="s1">'superheros'</span><span class="p">,</span> <span class="nx">Superhero</span><span class="p">);</span>

<span class="nx">mongoose</span><span class="p">.</span><span class="nx">connect</span><span class="p">(</span><span class="s1">'mongodb://localhost/node-superhero'</span><span class="p">);</span>
</code></pre></div></div>

<p>Here, we required/included the Mongoose library along with a reference to the <code class="highlighter-rouge">Schema()</code> method. As said, you always start with defining the schema, then we linked it to collection called “superheros”. Finally, we opened a connection to an instance of our local MongoDB.</p>

<blockquote>
  <p>If you don’t have the MongoDB server running. Do so now. Open a new terminal window, and run the command <code class="highlighter-rouge">sudo mongod</code>. If you need to set up MongoDB, follow the Installation steps <a href="http://docs.mongodb.org/manual/tutorial/install-mongodb-on-os-x/">here</a>.</p>
</blockquote>

<p>Next, open <em>app.js</em> and require the Mongoose config at the very top of the file:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c1">// mongoose config</span>
<span class="nx">require</span><span class="p">(</span><span class="s1">'./database'</span><span class="p">);</span>
</code></pre></div></div>

<p>With Mongoose setup, we need to update <em>api.js</em> to create (via POST) and read (via GET) data from the Mongo collection.</p>

<h2 id="get-requests-all-resources">GET requests (all resources)</h2>

<p>Open <em>api.js</em>. Require Mongoose as well as the <code class="highlighter-rouge">superheros</code> model, which we already created:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">mongoose</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'mongoose'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">Superhero</span> <span class="o">=</span> <span class="nx">mongoose</span><span class="p">.</span><span class="nx">model</span><span class="p">(</span><span class="s1">'superheros'</span><span class="p">);</span>
</code></pre></div></div>

<p>Now, update the function handling GET requests:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">router</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'/superheros'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">Superhero</span><span class="p">.</span><span class="nx">find</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">superheros</span><span class="p">){</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">superheros</span><span class="p">)</span>
    <span class="nx">res</span><span class="p">.</span><span class="nx">render</span><span class="p">(</span>
      <span class="s1">'api'</span><span class="p">,</span>
      <span class="p">{</span><span class="na">title</span> <span class="p">:</span> <span class="s1">'Superhero API'</span><span class="p">,</span> <span class="na">superheros</span> <span class="p">:</span> <span class="nx">superheros</span><span class="p">}</span>
    <span class="p">);</span>
  <span class="p">});</span>
<span class="p">});</span>
</code></pre></div></div>

<p><code class="highlighter-rouge">Superhero.find()</code> grabs all superheros from the Mongo collection, which we assign to the variable <code class="highlighter-rouge">superheros</code>. We can now use that variable in the Swig template.</p>

<h3 id="update-apihtml-to-display-superheros">Update <em>api.html</em> to display superheros</h3>

<p>Let’s add a loop to iterate through the superheros and then display the <code class="highlighter-rouge">name</code> key from the collection.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;h1&gt;</span>{{ title }}<span class="nt">&lt;/h1&gt;</span>

    <span class="nt">&lt;br&gt;</span>

    <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"post"</span> <span class="na">action=</span><span class="s">"/api/superheros"</span> <span class="na">class=</span><span class="s">"form-inline"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label&gt;</span>Superhero name<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">name=</span><span class="s">"name"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">required</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Save<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/form&gt;</span>

    <span class="nt">&lt;hr&gt;&lt;br&gt;</span>

    <span class="nt">&lt;h2&gt;</span>All Superheros<span class="nt">&lt;/h2&gt;</span>

    <span class="nt">&lt;ul&gt;</span>
    {% for superhero in superheros %}
      <span class="nt">&lt;li&gt;</span>{{superhero.name}}<span class="nt">&lt;/li&gt;</span>
    {% endfor %}
    <span class="nt">&lt;/ul&gt;</span>

  <span class="nt">&lt;/div&gt;</span>

{% endblock %}

</code></pre></div></div>

<blockquote>
  <p>Do you remember where we set the <code class="highlighter-rouge">name</code> key? Check out the database schema in <em>database.js</em>.</p>
</blockquote>

<p>Before this will actually work - e.g., display superheros - we first need to add the logic to insert data into the Mongo collection.</p>

<h2 id="post-requests-part-2">POST requests (part 2)</h2>

<p>Back in <em>api.js</em>, update the function for handling POST requests:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">router</span><span class="p">.</span><span class="nx">post</span><span class="p">(</span><span class="s1">'/superheros'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">new</span> <span class="nx">Superhero</span><span class="p">({</span><span class="na">name</span> <span class="p">:</span> <span class="nx">req</span><span class="p">.</span><span class="nx">body</span><span class="p">.</span><span class="nx">name</span><span class="p">})</span>
  <span class="p">.</span><span class="nx">save</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">superhero</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">superhero</span><span class="p">)</span>
    <span class="nx">res</span><span class="p">.</span><span class="nx">redirect</span><span class="p">(</span><span class="s1">'/api/superheros'</span><span class="p">);</span>
  <span class="p">});</span>
<span class="p">});</span>
</code></pre></div></div>

<p>This simply saves a new superhero, which again is grabbed from the form via <code class="highlighter-rouge">req.body.name</code>.</p>

<h2 id="sanity-check-1">Sanity Check</h2>

<p>Refresh you app. Add some superheros. If you’ve done everything correctly, the superheros should be displayed beneath the form.</p>

<p>What about updates? And deletions? First, let’s display a single superhero.</p>

<h2 id="get-requests-single-resource">GET requests (single resource)</h2>

<p>Update the list item in the HTML file like so to give each item a unique URL.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"superhero/{{superhero.id}}"</span><span class="nt">&gt;</span>{{superhero.name}}<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>

</code></pre></div></div>

<p>Now, let’s add a new route handler to <em>api.js</em> to display a single superhero:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">router</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'/superhero/:id'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="kd">var</span> <span class="nx">query</span> <span class="o">=</span> <span class="p">{</span><span class="s2">"_id"</span><span class="p">:</span> <span class="nx">req</span><span class="p">.</span><span class="nx">params</span><span class="p">.</span><span class="nx">id</span><span class="p">};</span>
  <span class="nx">Superhero</span><span class="p">.</span><span class="nx">findOne</span><span class="p">(</span><span class="nx">query</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">superhero</span><span class="p">){</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">superhero</span><span class="p">)</span>
    <span class="nx">res</span><span class="p">.</span><span class="nx">render</span><span class="p">(</span>
      <span class="s1">'superhero'</span><span class="p">,</span>
      <span class="p">{</span><span class="na">title</span> <span class="p">:</span> <span class="s1">'Superhero API - '</span> <span class="o">+</span> <span class="nx">superhero</span><span class="p">.</span><span class="nx">name</span><span class="p">,</span> <span class="na">superhero</span> <span class="p">:</span> <span class="nx">superhero</span><span class="p">}</span>
    <span class="p">);</span>
  <span class="p">});</span>
<span class="p">});</span>
</code></pre></div></div>

<p>What’s next? A new template. <em>superhero.html</em>:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;h1&gt;</span>{{ title }}<span class="nt">&lt;/h1&gt;</span>

    <span class="nt">&lt;br&gt;</span>

    <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"post"</span> <span class="na">action=</span><span class="s">"/api/superhero/{{superhero.id}}?_method=PUT"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label&gt;</span>Superhero name<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">name=</span><span class="s">"name"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">value=</span><span class="s">"{{superhero.name}}"</span> <span class="na">required</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Update<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/form&gt;</span>

    <span class="nt">&lt;br&gt;</span>

    <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"post"</span> <span class="na">action=</span><span class="s">"/api/superhero/{{superhero.id}}?_method=DELETE"</span> <span class="na">class=</span><span class="s">"form-inline"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Delete<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/form&gt;</span>

  <span class="nt">&lt;/div&gt;</span>

{% endblock %}

</code></pre></div></div>

<p>Test this out.</p>

<h2 id="put-requests">PUT requests</h2>

<p>Since most browsers do not handle PUT or DELETE requests, we need to use the <a href="https://github.com/expressjs/method-override">method-override</a> middleware to handle such requests.</p>

<p>Install via NPM:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>npm install method-override <span class="nt">--save</span>
</code></pre></div></div>

<p>Add the requirement to <em>app.js</em>:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">methodOverride</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'method-override'</span><span class="p">);</span>
</code></pre></div></div>

<p>Then define the middleware just below the view engine setup in <em>app.js</em>:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">app</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="nx">methodOverride</span><span class="p">(</span><span class="s1">'_method'</span><span class="p">))</span>
</code></pre></div></div>

<p>Finally, add the route handler to <em>api.js</em>:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">router</span><span class="p">.</span><span class="nx">put</span><span class="p">(</span><span class="s1">'/superhero/:id'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="kd">var</span> <span class="nx">query</span> <span class="o">=</span> <span class="p">{</span><span class="s2">"_id"</span><span class="p">:</span> <span class="nx">req</span><span class="p">.</span><span class="nx">params</span><span class="p">.</span><span class="nx">id</span><span class="p">};</span>
  <span class="kd">var</span> <span class="nx">update</span> <span class="o">=</span> <span class="p">{</span><span class="na">name</span> <span class="p">:</span> <span class="nx">req</span><span class="p">.</span><span class="nx">body</span><span class="p">.</span><span class="nx">name</span><span class="p">};</span>
  <span class="kd">var</span> <span class="nx">options</span> <span class="o">=</span> <span class="p">{</span><span class="na">new</span><span class="p">:</span> <span class="kc">true</span><span class="p">};</span>
  <span class="nx">Superhero</span><span class="p">.</span><span class="nx">findOneAndUpdate</span><span class="p">(</span><span class="nx">query</span><span class="p">,</span> <span class="nx">update</span><span class="p">,</span> <span class="nx">options</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">superhero</span><span class="p">){</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">superhero</span><span class="p">)</span>
    <span class="nx">res</span><span class="p">.</span><span class="nx">render</span><span class="p">(</span>
      <span class="s1">'superhero'</span><span class="p">,</span>
      <span class="p">{</span><span class="na">title</span> <span class="p">:</span> <span class="s1">'Superhero API - '</span> <span class="o">+</span> <span class="nx">superhero</span><span class="p">.</span><span class="nx">name</span><span class="p">,</span> <span class="na">superhero</span> <span class="p">:</span> <span class="nx">superhero</span><span class="p">}</span>
    <span class="p">);</span>
  <span class="p">});</span>
<span class="p">});</span>
</code></pre></div></div>

<p>Here, we are simply searching Mongo for the correct superhero via the Mongo ID and then updating the superhero name, which comes from the form, <code class="highlighter-rouge">req.body.name</code>. By setting <code class="highlighter-rouge">new</code> to <code class="highlighter-rouge">true</code>, we’re able to grab the updated superhero information after the changes are made in Mongo. Try removing this option. What happens?</p>

<h2 id="delete-requests">DELETE requests</h2>

<p>With the button already set up in the template, we just need to add the route handler to <em>api.js</em>:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">router</span><span class="p">.</span><span class="k">delete</span><span class="p">(</span><span class="s1">'/superhero/:id'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">req</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
  <span class="kd">var</span> <span class="nx">query</span> <span class="o">=</span> <span class="p">{</span><span class="s2">"_id"</span><span class="p">:</span> <span class="nx">req</span><span class="p">.</span><span class="nx">params</span><span class="p">.</span><span class="nx">id</span><span class="p">};</span>
  <span class="nx">Superhero</span><span class="p">.</span><span class="nx">findOneAndRemove</span><span class="p">(</span><span class="nx">query</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">superhero</span><span class="p">){</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">superhero</span><span class="p">)</span>
    <span class="nx">res</span><span class="p">.</span><span class="nx">redirect</span><span class="p">(</span><span class="s1">'/api/superheros'</span><span class="p">);</span>
  <span class="p">});</span>
<span class="p">});</span>
</code></pre></div></div>

<p>Again, we’re querying the database by the Mongo ID and then removing it. Simple, right?</p>

<h2 id="conclusion">Conclusion</h2>

<p>That’s it. Post your questions below. Grab the code from the <a href="https://github.com/mjhea0/node-express-swig-mongo">repository</a>. Cheers!</p>

  </div>

  <!-- addthis -->
  
    <div class="sharing">
  <br>
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50e5f1cc35ad077d"></script>
  <!-- AddThis Button END -->
  <br>
</div>

  

  <!-- disqus -->
  
    <div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.url = 'https://mherman.org/blog/node-express-swig-mongo-primer/';
    this.page.identifier = 'https://mherman.org/blog/node-express-swig-mongo-primer/';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//' + 'michaelherman' + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  


</article>

      </div>
    </main>

    <footer class="site-footer">

  <div class="wrapper">

    <p>
      




<div>
  <hr>
  <p>
    <span>Copyright &copy; 2019 - Michael Herman</span>
    <br>
    <small>Questions? michael at mherman dot org</small><br>
    <small><a href="#">Back to top</a></small>
    <br>
    <span>
      <a href="https://github.com/mjhea0"><i class="fa fa-github-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://twitter.com/mikeherman"><i class="fa fa-twitter-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/mjhea0/"><i class="fa fa-linkedin-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/hermanmu"><i class="fa fa-youtube-square" style="font-size:2em" aria-hidden="true"></i></a>
    </span>
  </p>
</div>

    </p>

  </div>

</footer>


  </body>

  <script type="text/javascript" src="/assets/hello.js"></script>

</html>
