<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <link rel="stylesheet" href="/assets/hello.css">
  {% if page.title != "About Me" %}
    {% if page.title != "Talks and Trainings" %}
      <link rel="stylesheet" href="/assets/carbon.css">
    {% endif %}
  {% endif %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% if page.title != "About Me" %}
          {% if page.title != "Talks and Trainings" %}
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DT27Y&placement=mhermanorg" id="_carbonads_js"></script>
          {% endif %}
        {% endif %}

        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

  <script type="text/javascript" src="/assets/hello.js"></script>
</html>
