<!DOCTYPE html>
<html lang="en">

  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  
  
  <title>Testing AngularJS with Protractor and Karma - part 2</title>
  <meta name="description" content="In Part 2 of Testing AngularJS with Protractor and Karma we&#39;ll look at end to end testing with Protractor.">
  
    
    <meta name="keywords" content="angular, angularJS, testing, karma, protractor, e2e tests, unit tests, mocha, chai">
  

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="canonical" href="https://mherman.org/blog/testing-angularjs-with-protractor-and-karma-part-2/">
  
  
  <link rel="alternate" type="application/rss+xml" title="Michael Herman" href="https://mherman.org/feed.xml">

  <link rel="icon" type="image/png" href="/favicon.png">


  
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:title" content="Testing AngularJS with Protractor and Karma - part 2">
  <meta name="twitter:description" content="In Part 2 of Testing AngularJS with Protractor and Karma we&#39;ll look at end to end testing with Protractor.">
  
  

  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Bitter:400,700,400italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

  
    
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-37074204-1', 'auto');
    ga('send', 'pageview');
  </script>


  
</head>


  <link rel="stylesheet" href="/assets/hello.css">

  <body>

    <header class="site-header">

  <div class="color-bar">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
    <div class="bar bar4"></div>
    <div class="bar bar5"></div>
    <div class="bar bar6"></div>
  </div>

  <div class="wrapper">

    <a class="site-title" href="/">Michael Herman</a>

    <nav class="site-nav">
      
        
        <a class="page-link" href="/">Blog</a>
      
        
        <a class="page-link" href="/about">About</a>
      
        
        <a class="page-link" href="/talks">Talks</a>
      
        
        <a class="page-link" href="/feed.xml">RSS</a>
      
    </nav>

  </div>

</header>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    
      <h1 class="post-title" itemprop="name headline">Testing AngularJS with Protractor and Karma - part 2</h1>
    
    <p class="post-meta">
      Last update: <time datetime="2015-04-26T00:00:00-06:00" itemprop="datePublished">Apr 26, 2015</time>
       • 
  
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      <a href="/categories/angular/">angular</a>,
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

  
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      <a href="/categories/testing/">testing</a>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <p><strong>This article details how to test a simple AngularJS application using unit tests and end-to-end (E2E) tests.</strong></p>

<div style="text-align:center;">
  <img src="https://raw.githubusercontent.com/mjhea0/angular-testing-tutorial/master/img/angular-protractor.png" style="max-width: 100%; border:0;" alt="angular + protractor" />
</div>

<p><br /></p>

<ul>
  <li><a href="http://mherman.org/blog/2015/04/09/testing-angularjs-with-protractor-and-karma-part-1">Part 1</a> - In the first part we’ll look at unit tests, which ensure that small, isolated pieces of code (e.g., a unit) behave as expected.</li>
  <li>Part 2 - In part two we’ll address E2E tests, which verify that all the pieces of code (units) fit together by simulating the user experience through browser automation. <strong>(current)</strong></li>
</ul>

<p><em>Updates</em>:</p>

<ul>
  <li>December 3rd, 2016 - bumped dependencies</li>
</ul>

<p>Having finished up unit testing, let’s now turn our attention to e2e testing using <a href="http://angular.github.io/protractor/#/">Protractor</a>, which is a testing framework built specifically for AngularJS apps. Essentially, it runs tests against an app in the browser via <a href="http://seleniumhq.github.io/selenium/docs/api/javascript/">Selenium Webdriver</a>, interacting with the app from an end user’s perspective.</p>

<div style="text-align:center;">
  <img src="https://raw.githubusercontent.com/mjhea0/angular-testing-tutorial/master/img/components.png" style="max-width: 100%; border:0;" alt="protractor components" />
</div>

<p><br /></p>

<p>Since e2e tests are much more expensive than unit tests - e.g., they generally take more time to run and are harder to write and maintain - you should almost always focus the majority of your testing efforts on unit tests. It’s good to follow the 80/20 rule - 80% of your tests are unit tests, while 20% are e2e tests. That said, this tutorial series breaks this rule since the goal is to educate. Keep this in mind as you write your own tests against your own application.</p>

<p>Also, make sure you test the most important aspects/functions of your application with your e2e tests. Don’t waste time on the trivial. Again, they are expensive, so make each one count.</p>

<p>The <a href="https://github.com/mjhea0/angular-testing-tutorial">repo</a> includes the following tags:</p>

<ol>
  <li><em>v1</em> - <a href="https://github.com/mjhea0/angular-testing-tutorial/releases/tag/v1">project boilerplate</a></li>
  <li><em>v2</em> - <a href="https://github.com/mjhea0/angular-testing-tutorial/releases/tag/v2">adds testing boilerplate/configuration</a></li>
  <li><em>v3</em> - <a href="https://github.com/mjhea0/angular-testing-tutorial/releases/tag/v3">adds unit tests</a></li>
  <li><em>v4</em> - <a href="https://github.com/mjhea0/angular-testing-tutorial/releases/tag/v4">adds E2E tests</a></li>
</ol>

<h2 class="no_toc" id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#project-setup" id="markdown-toc-project-setup">Project Setup</a></li>
  <li><a href="#the-tests" id="markdown-toc-the-tests">The Tests</a></li>
  <li><a href="#conclusion" id="markdown-toc-conclusion">Conclusion</a></li>
</ul>

<h2 id="project-setup">Project Setup</h2>

<p>Assuming you followed the <a href="http://mherman.org/blog/2015/04/09/testing-angularjs-with-protractor-and-karma-part-1">first part</a> of this tutorial, checkout the third tag, <code class="highlighter-rouge">v3</code>, and then run the current test suite starting with the unit tests:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>git checkout tags/v3
<span class="nv">$ </span>gulp unit

<span class="o">[</span>23:30:01] Using gulpfile ~/angular-testing-tutorial/Gulpfile.js
<span class="o">[</span>23:30:01] Starting <span class="s1">'unit'</span>...
INFO <span class="o">[</span>karma]: Karma v0.12.31 server started at http://localhost:9876/
INFO <span class="o">[</span>launcher]: Starting browser Chrome
INFO <span class="o">[</span>Chrome 42.0.2311 <span class="o">(</span>Mac OS X 10.10.2<span class="o">)]</span>: Connected on socket i04LmGbgt7P1lNIUTgIJ with id 48442826
Chrome 42.0.2311 <span class="o">(</span>Mac OS X 10.10.2<span class="o">)</span>: Executed 12 of 12 SUCCESS <span class="o">(</span>0.236 secs / 0.051 secs<span class="o">)</span>
<span class="o">[</span>23:30:06] Finished <span class="s1">'unit'</span> after 4.43 s
</code></pre></div></div>

<p>For the e2e tests, you’ll need to open two new terminal windows. In the first new window, run <code class="highlighter-rouge">webdriver-manager start</code>. In the second, navigate to your project directory and then run the app - <code class="highlighter-rouge">gulp</code>.</p>

<p>Finally, back in the original window, run the tests:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nv">$ </span>gulp e2e

<span class="o">[</span>23:31:11] Using gulpfile ~/angular-testing-tutorial/Gulpfile.js
<span class="o">[</span>23:31:11] Starting <span class="s1">'e2e'</span>...
Using the selenium server at http://localhost:4444/wd/hub
<span class="o">[</span>launcher] Running 1 instances of WebDriver
<span class="nb">.</span>

Finished <span class="k">in </span>1.174 seconds
1 <span class="nb">test</span>, 1 assertion, 0 failures

<span class="o">[</span>launcher] 0 instance<span class="o">(</span>s<span class="o">)</span> of WebDriver still running
<span class="o">[</span>launcher] chrome <span class="c">#1 passed</span>
</code></pre></div></div>

<p>Everything look good?</p>

<h2 id="the-tests">The Tests</h2>

<p>Open the test spec, <em>spec.js</em>, within the “tests/e2e” directory. Let’s look at the first test:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">describe</span><span class="p">(</span><span class="s1">'myController'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'the dom initially has a greeting'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">browser</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'http://localhost:8888/#/one'</span><span class="p">);</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">id</span><span class="p">(</span><span class="s1">'greeting'</span><span class="p">)).</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Hello, World!'</span><span class="p">);</span>
  <span class="p">});</span>

<span class="p">});</span>
</code></pre></div></div>

<p>Notice how we’re still using <a href="http://mochajs.org/">Mocha</a> and <a href="http://chaijs.com/">Chai</a> to <a href="http://angular.github.io/protractor/#/frameworks">manage/structure</a> the test so that it simply opens <code class="highlighter-rouge">http://localhost:8888/#/one</code> and then asserts that the text within the HTML element with an ID of <code class="highlighter-rouge">greeting</code> is  <code class="highlighter-rouge">Hello, World!</code>. Simple, right?</p>

<p>Let’s take a quick look at the Angular services that we’re using:</p>

<ol>
  <li><a href="http://angular.github.io/protractor/#/api?view=Protractor">browser</a> - loads the page in the browser</li>
  <li><a href="http://angular.github.io/protractor/#/api?view=ElementFinder">element</a> - interacts with the page</li>
  <li><a href="http://angular.github.io/protractor/#/api?view=ProtractorBy">by</a> - finds elements within the page</li>
</ol>

<p>Finally, one important thing to note is how these tests run. Notice that there’s no callbacks and/or promises in the test. How does that work with asynchronous code? Simple: Protractor continues to check each assertion until it passes or a certain amount of <a href="https://github.com/angular/protractor/blob/master/docs/timeouts.md">time</a> passes. There also is a <a href="http://angular.github.io/protractor/#/api?view=then">promise</a> attached to most methods that can be access using <code class="highlighter-rouge">then</code>.</p>

<p>With that, let’s write some tests on our own.</p>

<h3 id="testonecontroller">TestOneController</h3>

<p>Just like in the first part, open the controller code:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">myApp</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'TestOneController'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">greeting</span> <span class="o">=</span> <span class="s2">"Hello, World!"</span><span class="p">;</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">newText</span> <span class="o">=</span> <span class="kc">undefined</span><span class="p">;</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">changeGreeting</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="nx">$scope</span><span class="p">.</span><span class="nx">newText</span> <span class="o">!==</span> <span class="kc">undefined</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">$scope</span><span class="p">.</span><span class="nx">greeting</span> <span class="o">=</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">newText</span><span class="p">;</span>
    <span class="p">}</span>
  <span class="p">};</span>
<span class="p">});</span>
</code></pre></div></div>

<p>How about the HTML?</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;h2&gt;</span>Say something<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">ng-model=</span><span class="s">"newText"</span><span class="nt">&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-default"</span> <span class="na">ng-click=</span><span class="s">"changeGreeting()"</span><span class="nt">&gt;</span>Change!<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;p</span> <span class="na">id=</span><span class="s">"greeting"</span><span class="nt">&gt;</span>{{ greeting }}<span class="nt">&lt;/p&gt;</span>
</code></pre></div></div>

<p>Looking at the Angular code along with the HTML, we know that on the button click, <code class="highlighter-rouge">greeting</code> is updated with the user supplied text from the input box. Sound right? Test this out: With the app running via Gulp, navigate to <a href="http://localhost:8888/#/one">http://localhost:8888/#/one</a> and manually test the app to ensure that the controller is working as it should.</p>

<p>Now since we already tested the initial state of <code class="highlighter-rouge">greeting</code>, let’s write the test to ensure that the state updates on the button click:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">describe</span><span class="p">(</span><span class="s1">'TestOneController'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>

  <span class="nx">beforeEach</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">browser</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'http://localhost:8888/#/one'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'initially has a greeting'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">id</span><span class="p">(</span><span class="s1">'greeting'</span><span class="p">)).</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Hello, World!'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'clicking the button changes the greeting if text is inputed'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'[ng-model="newText"]'</span><span class="p">)).</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">'Hi!'</span><span class="p">);</span>
    <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'.btn-default'</span><span class="p">)).</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">id</span><span class="p">(</span><span class="s1">'greeting'</span><span class="p">)).</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Hi!'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'clicking the button does not change the greeting if text is not inputed'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'.btn-default'</span><span class="p">)).</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">id</span><span class="p">(</span><span class="s1">'greeting'</span><span class="p">)).</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Hello, World!'</span><span class="p">);</span>
  <span class="p">});</span>

<span class="p">});</span>
</code></pre></div></div>

<p>So, in both new test cases we’re targeting the input form - via the global <a href="http://angular.github.io/protractor/#/locators">element</a> function - and adding text to it with the <code class="highlighter-rouge">sendKeys()</code> method - <code class="highlighter-rouge">Hi!</code> in the first test and no text in the second. Then after clicking the button, we’re asserting that the text contained within the HTML element with an id of “greeting” is as expected.</p>

<p>Run the tests. If all went well, you should see:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="o">[</span>06:15:45] Using gulpfile ~/angular-testing-tutorial/Gulpfile.js
<span class="o">[</span>06:15:45] Starting <span class="s1">'e2e'</span>...
Using the selenium server at http://localhost:4444/wd/hub
<span class="o">[</span>launcher] Running 1 instances of WebDriver
...

Finished <span class="k">in </span>3.606 seconds
3 tests, 3 assertions, 0 failures

<span class="o">[</span>launcher] 0 instance<span class="o">(</span>s<span class="o">)</span> of WebDriver still running
<span class="o">[</span>launcher] chrome <span class="c">#1 passed</span>
Michaels-MacBook-Pro-3:angular-testing-tutorial michael<span class="err">$</span>
</code></pre></div></div>

<p>Did you see Chrome open in a new window and run the tests, then close itself? It’s super fast!! Want to run the tests in Firefox (or a different <a href="http://angular.github.io/protractor/#/browser-support">browser</a>) as well? Simply update the Protractor config file, <em>protractor.conf.js</em>, like so:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">exports</span><span class="p">.</span><span class="nx">config</span> <span class="o">=</span> <span class="p">{</span>
  <span class="na">seleniumAddress</span><span class="p">:</span> <span class="s1">'http://localhost:4444/wd/hub'</span><span class="p">,</span>
  <span class="na">specs</span><span class="p">:</span> <span class="p">[</span><span class="s1">'tests/e2e/*.js'</span><span class="p">],</span>
  <span class="na">multiCapabilities</span><span class="p">:</span> <span class="p">[{</span>
    <span class="na">browserName</span><span class="p">:</span> <span class="s1">'firefox'</span>
  <span class="p">},</span> <span class="p">{</span>
    <span class="na">browserName</span><span class="p">:</span> <span class="s1">'chrome'</span>
  <span class="p">}]</span>
<span class="p">};</span>
</code></pre></div></div>

<p>Test it again. You should now see the tests run in both Chrome and Firefox simultaneously. Nice.</p>

<p>Finally, to simplify the code and speed up the tests (so we only search the DOM once per element), we can assign each element to a variable:</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">describe</span><span class="p">(</span><span class="s1">'TestOneController'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>

  <span class="kd">var</span> <span class="nx">greeting</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">id</span><span class="p">(</span><span class="s1">'greeting'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">textInputBox</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'[ng-model="newText"]'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">changeGreetingButton</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'.btn-default'</span><span class="p">));</span>

  <span class="nx">beforeEach</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">browser</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'http://localhost:8888/#/one'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'initially has a greeting'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">greeting</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Hello, World!'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'clicking the button changes the greeting if text is inputed'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">textInputBox</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">'Hi!'</span><span class="p">);</span>
    <span class="nx">changeGreetingButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">greeting</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Hi!'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'clicking the button does not change the greeting if text is not inputed'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">textInputBox</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">''</span><span class="p">);</span>
    <span class="nx">changeGreetingButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">greeting</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Hello, World!'</span><span class="p">);</span>
  <span class="p">});</span>

<span class="p">});</span>
</code></pre></div></div>

<p>Test one last time to ensure that this refactor didn’t break anything.</p>

<h3 id="testtwocontroller">TestTwoController</h3>

<p>Again, start with the code.</p>

<p>Angular:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code>myApp.controller<span class="o">(</span><span class="s1">'TestTwoController'</span>, <span class="k">function</span><span class="o">(</span><span class="nv">$scope</span><span class="o">)</span> <span class="o">{</span>
  <span class="nv">$scope</span>.total <span class="o">=</span> 6<span class="p">;</span>
  <span class="nv">$scope</span>.newItem <span class="o">=</span> undefined<span class="p">;</span>
  <span class="nv">$scope</span>.items <span class="o">=</span> <span class="o">[</span>1, 2, 3]<span class="p">;</span>
  <span class="nv">$scope</span>.add <span class="o">=</span> <span class="k">function</span> <span class="o">()</span> <span class="o">{</span>
    <span class="k">if</span><span class="o">(</span>typeof <span class="nv">$scope</span>.newItem <span class="o">==</span> <span class="s1">'number'</span><span class="o">)</span> <span class="o">{</span>
      <span class="nv">$scope</span>.items.push<span class="o">(</span><span class="nv">$scope</span>.newItem<span class="o">)</span><span class="p">;</span>
      <span class="nv">$scope</span>.total <span class="o">=</span> 0<span class="p">;</span>
      <span class="k">for</span><span class="o">(</span>var i <span class="o">=</span> 0<span class="p">;</span> i &lt; <span class="nv">$scope</span>.items.length<span class="p">;</span> i++<span class="o">){</span>
        <span class="nv">$scope</span>.total +<span class="o">=</span> parseInt<span class="o">(</span><span class="nv">$scope</span>.items[i]<span class="o">)</span><span class="p">;</span>
      <span class="o">}</span>
    <span class="o">}</span>
  <span class="o">}</span><span class="p">;</span>
<span class="o">})</span><span class="p">;</span>
</code></pre></div></div>

<p>HTML:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;h2&gt;</span>Add values<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"number"</span> <span class="na">ng-model=</span><span class="s">"newItem"</span><span class="nt">&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-default"</span> <span class="na">ng-click=</span><span class="s">"add()"</span><span class="nt">&gt;</span>Add!<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;p&gt;</span>{{ total }}<span class="nt">&lt;/p&gt;</span>
</code></pre></div></div>

<p>Then test it in the browser.</p>

<p>Like last time, we simply need to ensure that <code class="highlighter-rouge">total</code> is updated appropriately when the end user submits a number in the input box and then clicks the button.</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">describe</span><span class="p">(</span><span class="s1">'TestTwoController'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>

  <span class="kd">var</span> <span class="nx">total</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">tagName</span><span class="p">(</span><span class="s1">'p'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">numberInputBox</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'[ng-model="newItem"]'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">changeTotalButton</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'.btn-default'</span><span class="p">));</span>

  <span class="nx">beforeEach</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">browser</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'http://localhost:8888/#/two'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'initially has a total'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">total</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'6'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'updates the `total` when a value is added'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">numberInputBox</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="mi">7</span><span class="p">);</span>
    <span class="nx">changeTotalButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">numberInputBox</span><span class="p">.</span><span class="nx">clear</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">total</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'13'</span><span class="p">);</span>
    <span class="nx">numberInputBox</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="mi">7</span><span class="p">);</span>
    <span class="nx">changeTotalButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">total</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'20'</span><span class="p">);</span>
    <span class="nx">numberInputBox</span><span class="p">.</span><span class="nx">clear</span><span class="p">();</span>
    <span class="nx">numberInputBox</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="o">-</span><span class="mi">700</span><span class="p">);</span>
    <span class="nx">changeTotalButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">total</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'-680'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'does not update the `total` when an empty value is added'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">numberInputBox</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">''</span><span class="p">);</span>
    <span class="nx">changeTotalButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">total</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'6'</span><span class="p">);</span>
    <span class="nx">numberInputBox</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">'hi!'</span><span class="p">);</span>
    <span class="nx">changeTotalButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">total</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'6'</span><span class="p">);</span>
  <span class="p">});</span>

<span class="p">});</span>
</code></pre></div></div>

<p>Run the tests and you should see:</p>

<div class="language-sh highlighter-rouge"><div class="highlight"><pre class="highlight"><code>6 tests, 9 assertions, 0 failures
</code></pre></div></div>

<p>Moving along…</p>

<h3 id="testthreecontroller">TestThreeController</h3>

<p>You know the drill:</p>

<ol>
  <li>Look at the Angular and HTML code</li>
  <li>Manually test in the browser</li>
  <li>Write the e2e test to automate the manual test</li>
</ol>

<p>Try this on your own before looking at the code below.</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">describe</span><span class="p">(</span><span class="s1">'TestThreeController'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>

  <span class="kd">var</span> <span class="nx">modalNumber</span> <span class="o">=</span> <span class="nx">element</span><span class="p">.</span><span class="nx">all</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">tagName</span><span class="p">(</span><span class="s1">'span'</span><span class="p">)).</span><span class="kd">get</span><span class="p">(</span><span class="mi">1</span><span class="p">);</span>
  <span class="kd">var</span> <span class="nx">modalButton</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">tagName</span><span class="p">(</span><span class="s1">'button'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">iterateButton</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'[ng-click="changeModalText()"]'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">hideButton</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'[ng-click="$hide()"]'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">justSomeText</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">tagName</span><span class="p">(</span><span class="s1">'h2'</span><span class="p">));</span>

  <span class="nx">beforeEach</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">browser</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'http://localhost:8888/#/three'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'initially has a modalNumber'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">modalButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">modalNumber</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'1'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'updates the `modalNumber` when a value is added'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">modalButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">iterateButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">modalNumber</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'2'</span><span class="p">);</span>
    <span class="nx">iterateButton</span><span class="p">.</span><span class="nx">click</span><span class="p">().</span><span class="nx">click</span><span class="p">().</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">modalNumber</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'5'</span><span class="p">);</span>
    <span class="nx">hideButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">justSomeText</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Just a modal'</span><span class="p">);</span>
  <span class="p">});</span>
</code></pre></div></div>

<h3 id="testfourcontroller">TestFourController</h3>

<p>Since this controller makes an external call to <a href="https://api.github.com/repositories">https://api.github.com/repositories</a> you can either mock out (fake) this request using <a href="https://docs.angularjs.org/api/ngMockE2E">ngMockE2E</a>, like we did for the unit test, or you can actually make the API call. Again, this depends on how expensive the call is and how important the functionality is to your application. In most cases, it’s better to actually make the call since e2e tests should mimic the actual end user experience as much as possible. Plus, unlike unit tests which test implementation, these tests test user behavior, across several independent units - thus, these tests should not be isolated and can rely on making actual API calls either to the back-end or externally.</p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">describe</span><span class="p">(</span><span class="s1">'TestFourController'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>

  <span class="kd">var</span> <span class="nx">loadButton</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">tagName</span><span class="p">(</span><span class="s1">'button'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">ul</span> <span class="o">=</span> <span class="nx">element</span><span class="p">.</span><span class="nx">all</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">tagName</span><span class="p">(</span><span class="s1">'ul'</span><span class="p">));</span>
  <span class="kd">var</span> <span class="nx">li</span> <span class="o">=</span> <span class="nx">element</span><span class="p">.</span><span class="nx">all</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">tagName</span><span class="p">(</span><span class="s1">'li'</span><span class="p">));</span>

  <span class="nx">beforeEach</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">browser</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="s1">'http://localhost:8888/#/four'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">it</span><span class="p">(</span><span class="s1">'updates the DOM when the button is clicked'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">ul</span><span class="p">.</span><span class="nx">count</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="mi">1</span><span class="p">);</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">li</span><span class="p">.</span><span class="nx">count</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="mi">5</span><span class="p">);</span>
    <span class="nx">loadButton</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">ul</span><span class="p">.</span><span class="nx">count</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="mi">101</span><span class="p">);</span>
    <span class="nx">expect</span><span class="p">(</span><span class="nx">li</span><span class="p">.</span><span class="nx">count</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="mi">105</span><span class="p">);</span>
  <span class="p">});</span>

<span class="p">});</span>
</code></pre></div></div>

<p>Here, when the button is clicked, the API call is made and the scope is updated. We then assert that there are 101 UL tags and 105 LI tags, representing a Github username and repo returned from the API call, present on the DOM.</p>

<p>That’s it!</p>

<h2 id="conclusion">Conclusion</h2>

<p><em>Want more?</em></p>

<ol>
  <li>Take a look at the <a href="http://angular.github.io/protractor/#/page-objects">Page Objects</a> design pattern and refactor the tests so that they are better organized.</li>
  <li>Break a test, and then <a href="http://angular.github.io/protractor/#/debugging#pausing-to-debug">pause</a> the test before the break via <code class="highlighter-rouge">browser.pause()</code> and/or <code class="highlighter-rouge">browser.debugger()</code> to debug.</li>
  <li>Test your own Angular app, and then add a link to the comments to get feedback.</li>
</ol>

<p>Be sure to check the <a href="http://angular.github.io/protractor/#/">Protractor</a> documentation for more. Thanks again for reading, and happy testing!</p>

<hr />
<p><br /></p>

<p><em>Interested in learning how to test an Angular + Django app? Check out <a href="http://www.realpython.com/">Real Python</a> for details.</em></p>

  </div>

  <!-- addthis -->
  
    <div class="sharing">
  <br>
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50e5f1cc35ad077d"></script>
  <!-- AddThis Button END -->
  <br>
</div>

  

  <!-- disqus -->
  
    <div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.url = 'https://mherman.org/blog/testing-angularjs-with-protractor-and-karma-part-2/';
    this.page.identifier = 'https://mherman.org/blog/testing-angularjs-with-protractor-and-karma-part-2/';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//' + 'michaelherman' + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  


</article>

      </div>
    </main>

    <footer class="site-footer">

  <div class="wrapper">

    <p>
      




<div>
  <hr>
  <p>
    <span>Copyright &copy; 2019 - Michael Herman</span>
    <br>
    <small>Questions? michael at mherman dot org</small><br>
    <small><a href="#">Back to top</a></small>
    <br>
    <span>
      <a href="https://github.com/mjhea0"><i class="fa fa-github-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://twitter.com/mikeherman"><i class="fa fa-twitter-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/mjhea0/"><i class="fa fa-linkedin-square" style="font-size:2em" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/hermanmu"><i class="fa fa-youtube-square" style="font-size:2em" aria-hidden="true"></i></a>
    </span>
  </p>
</div>

    </p>

  </div>

</footer>


  </body>

  <script type="text/javascript" src="/assets/hello.js"></script>

</html>
